# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# venvs
.venv/
.venv-*/

# uv
.uv/
uv.lock
uv.lock.bak

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Slurm related
.slurm/
*.sbatch

# Ignore all data artifacts
/data/**
!/data/**/
!/data/**/.gitkeep

# Build outputs
build/
dist/
*.egg-info/